.git
.gitignore

.env
.env.*
**/.env
**/.env.*

.idea/
**/.idea/
.vscode/
**/.vscode/
.DS_Store
**/.DS_Store

artifacts/
**/artifacts/
bin/
**/bin/
build/
**/build/
dist/
**/dist/
coverage/
**/coverage/
coverage.*
*.coverage
*.out
*.prof
*.test
